footer {
  grid-area: footer;
  background-color: var(--bg-footer);
  display: flex;
  font-size: 0.8rem;
  align-content: center;
  justify-content: center;
}

.footer-center {
  display: block;
  margin: auto;
}